# General
01-vxlan-flannel-on-kubeadm-and-crio/.vagrant/
02-host-gw-flannel-on-kubeadm-and-crio/.vagrant/
03-gateway-api-with-traefik/.vagrant
03-gateway-api-with-traefik/specific-files/certs
configs/
backup/

# Log files (if you are creating logs in debug mode, uncomment this)
# *.log

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.idea